# Cálculo de diferenciação

Esse arquivo contém cálculos de diferenciação e de diferenciação sazonal.

In [1]:
import pandas as pd

# Primeira diferenciação e segunda diferenciação

In [2]:
df = pd.read_excel('weekly-sales-differencing.xlsx')
df.head()

   Week  Weekly Sales of a Cutting Tool  First Difference  Second Difference
0     1                             100               NaN                NaN
1     2                              94               NaN                NaN
2     3                              90               NaN                NaN
3     4                              96               NaN                NaN
4     5                              91               NaN                NaN

In [3]:
df['First Difference'] = df['Weekly Sales of a Cutting Tool'].diff()
df['Second Difference'] = df['First Difference'].diff()
df.head()

   Week  Weekly Sales of a Cutting Tool  First Difference  Second Difference
0     1                             100               NaN                NaN
1     2                              94              -6.0                NaN
2     3                              90              -4.0                2.0
3     4                              96               6.0               10.0
4     5                              91              -5.0              -11.0

# Diferenciação sazonal

In [4]:
df2 = pd.read_excel('quarterly-sales.xlsx')
df2.head()

  Quarter  Sales  Seasonal Difference
0     1Q1    362                  NaN
1     1Q2    385                  NaN
2     1Q3    432                  NaN
3     1Q4    341                  NaN
4     2Q1    382                  NaN

In [5]:
df2['Seasonal Difference'] = df2['Sales'].diff(periods=4)
df2.head(8)

  Quarter  Sales  Seasonal Difference
0     1Q1    362                  NaN
1     1Q2    385                  NaN
2     1Q3    432                  NaN
3     1Q4    341                  NaN
4     2Q1    382                 20.0
5     2Q2    409                 24.0
6     2Q3    498                 66.0
7     2Q4    387                 46.0

In [6]:
df2[df2['Quarter'] == '4Q4']

   Quarter  Sales  Seasonal Difference
15     4Q4    557                 83.0